{# Macro to render a file table grouped by directory #}
{% macro file_table(file_lines, repo_root) %}
{% set ns = namespace(groups={}) %}
{% for entry in file_lines %}
{% set parts = entry.rsplit(':', 1) %}
{% set filepath = parts[0] | realpath | replace(repo_root ~ '/', '') %}
{% set lines = parts[1] | int %}
{% set dir = filepath | dirname %}
{% set fname = filepath | basename %}
{% if dir not in ns.groups %}
{% set _ = ns.groups.update({dir: []}) %}
{% endif %}
{% set _ = ns.groups[dir].append({'name': fname, 'lines': lines}) %}
{% endfor %}
| File | Lines |
|------|------:|
{% for dir in ns.groups | sort %}
{% set dir_total = ns.groups[dir] | map(attribute='lines') | sum %}
| **`{{ dir }}/`** | **{{ '{:,}'.format(dir_total) }}** |
{% for f in ns.groups[dir] | sort(attribute='name') %}
| &nbsp;&nbsp;&nbsp;&nbsp;`{{ f.name }}` | {{ '{:,}'.format(f.lines) }} |
{% endfor %}
{% endfor %}
{% endmacro %}
{% set repo_root = (inventory_dir ~ '/../..') | realpath %}
# AVD Input vs. Configuration Output

<div align="center">

| | | | | |
|:---:|:---:|:---:|:---:|:---:|
| <h2>{{ '{:,}'.format(avd_total_input | int) }}</h2> | | <h2>{{ '{:,}'.format(avd_total_output | int) }}</h2> | | <h2>{{ avd_amplification }}x</h2> |
| **Lines of Input** | &xrarr; | **Lines of Config** | = | **Amplification** |

</div>

<div align="center">
<table>
<tr>
<td width="50%" valign="top">

### Data Model Input

*{{ '{:,}'.format(avd_total_input | int) }} total lines*

{{ file_table(avd_input_files, repo_root) }}

</td>
<td width="50%" valign="top">

### Configuration Output

*{{ '{:,}'.format(avd_total_output | int) }} total lines*

{{ file_table(avd_output_files, repo_root) }}

</td>
</tr>
</table>
</div>

---
*Generated by **avd-intent-viewer***
